:root{
    --theme-color: #00c1b1;
}
*:focus {
    outline: none;
}
header .mdl-layout__header-row, header .mdl-layout__drawer-button{
    background-color: var(--theme-color) !important;
}
.mdl-layout__header-row > .mdl-layout-spacer{
    background: white;
    margin-right: 48px;
}
.mdl-layout__header-row > .mdl-layout-spacer > input[name="search"]{
    border: 0;
    height: 34px;
    width: 100%;
    padding: 0 10px 0 28px;
    font-size: 20px;
    color: #757575;
}
.mdl-layout__header-row > .mdl-layout-spacer > .material-icons{
    position: absolute;
    margin-top: 6px;
    margin-left: 4px;
}
.line-header-on-main{
    width: 100%;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 16px;
    position: relative;
}
.line-item-on-main{
    height: 200px;
    background: url(../images/app-default.png);
    background-size: cover;
    position: relative;
    cursor: pointer;
    background-position: center;
}
.line-item-on-main .bottom-heading{
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    width: calc(100% - 20px);
    bottom: 0;
    height: 20px;
    font-weight: bold;
    padding: 10px;
}
.line-header-on-main button{
    background: var(--theme-color);
    border: 0;
    color: white;
    cursor: pointer;
    padding: 10px;
    margin-top: -9px;
    font-size: 16px;
    margin-right: 8px;
    position: absolute;
    right: 0;
    font-weight: bold;
}
.line-header-on-main{
    text-transform: uppercase;
}
#hdrbtn, header > .mdl-layout__drawer-button > i.material-icons{
    color: white;
}
header + .mdl-layout__drawer.mdl-color--blue-grey-900.mdl-color-text--blue-grey-50.is-visible + main{
    padding-right: 15px;
}
[role="app-container"]{
    position: relative;
}
[role="app-container"].loading > .loading-anim{
    border: 5px solid #fff;
    border-radius: 30px;
    height: 30px;
    left: calc(50% - 5px);
    margin: -15px 0 0 -15px;
    opacity: 0;
    position: absolute;
    top: calc(50% - 5px);
    width: 30px;
 
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
}
@keyframes pulsate{
    0% {
      transform: scale(.1);
      opacity: 0.0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: scale(1.2);
      opacity: 0;
    }
}
[role="app-container"] > .rating{
    font-family: 'DejaVu Sans';
}
[role="app-container"] > .rating > *{
    position: absolute;
}
[role="app-container"] > .rating > .stars-bg{
    font-size: 25px;
    top: 1px;
}
[role="app-container"] > .rating > .stars-fg{
    font-size: 23px;
    letter-spacing: 0.25px;
    color: #ffda47;
    overflow: hidden;
}