:root{
    --theme-color: #00c1b1;
}
*:focus {
    outline: none;
}
header .mdl-layout__header-row, header .mdl-layout__drawer-button{
    background-color: var(--theme-color) !important;
}
.mdl-layout__header-row > .mdl-layout-spacer{
    margin-right: 48px;
}
.mdl-layout__header-row > .mdl-layout-spacer{
    position: relative;
}
.mdl-layout__header-row > .mdl-layout-spacer > .material-icons{
    position: absolute;
    margin-top: 6px;
    margin-left: 4px;
}
.line-header-on-main{
    width: 100%;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 16px;
    position: relative;
}
.line-item-on-main{
    height: 200px;
    background: url(../images/app-default.png);
    background-size: cover;
    position: relative;
    cursor: pointer;
    background-position: center;
}
.line-item-on-main .bottom-heading{
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    width: calc(100% - 20px);
    bottom: 0;
    height: 20px;
    font-weight: bold;
    padding: 10px;
}
.line-header-on-main button{
    background: var(--theme-color);
    border: 0;
    color: white;
    cursor: pointer;
    padding: 10px;
    margin-top: -9px;
    font-size: 16px;
    margin-right: 8px;
    position: absolute;
    right: 0;
    font-weight: bold;
}
.line-header-on-main{
    text-transform: uppercase;
}
#hdrbtn, header > .mdl-layout__drawer-button > i.material-icons{
    color: white;
}
header + .mdl-layout__drawer.mdl-color--blue-grey-900.mdl-color-text--blue-grey-50.is-visible + main{
    padding-right: 15px;
}
[role="app-container"]{
    position: relative;
}
[role="app-container"].loading > .loading-anim{
    border: 5px solid #fff;
    border-radius: 30px;
    height: 30px;
    left: calc(50% - 5px);
    margin: -15px 0 0 -15px;
    opacity: 0;
    position: absolute;
    top: calc(50% - 5px);
    width: 30px;
 
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
}
@keyframes pulsate{
    0% {
      transform: scale(.1);
      opacity: 0.0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: scale(1.2);
      opacity: 0;
    }
}
[role="app-container"] > .rating{
    font-family: 'DejaVu Sans';
}
[role="app-container"] > .rating > *{
    position: absolute;
}
[role="app-container"] > .rating > .stars-bg{
    font-size: 25px;
    top: 1px;
}
[role="app-container"] > .rating > .stars-fg{
    font-size: 23px;
    letter-spacing: 0.25px;
    color: #ffda47;
    overflow: hidden;
}
/* form starting stylings ------------------------------- */
.group[name="search"]{ 
    position: relative; 
    margin-bottom: 45px; 
    top: 25px;
}
[name="search"] input{
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #e6e6e6;
    background: transparent;
    color: #fff;
}
[name="search"] input:focus{
    outline:none;
}

/* LABEL ======================================= */
[name="search"] label{
    color: #fff; 
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 2px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
}
[name="search"] label .material-icons{
    position: relative;
    top: 7px;
}

/* active state */
[name="search"] input:focus ~ label, [name="search"] input:valid ~ label{
    top: -13px;
    font-size: 14px;
    color: #fff;
}
[name="search"] input:focus ~ label .material-icons, [name="search"] input:valid ~ label .material-icons{
    top: 4px;
    font-size: 18px;
    left: 1px;
}

/* BOTTOM BARS ================================= */
[name="search"] .bar{
    position: relative;
    display: block;
    width: 315px;
    top: 1px;
}
[name="search"] .bar:before, .bar:after{
    content: '';
    height: 2px; 
    width: 0;
    bottom: 1px; 
    position: absolute;
    background: #fff;
    transition: 0.2s ease all;
}
[name="search"] .bar:before{
    left: 50%;
}
[name="search"] .bar:after{
    right: 50%; 
}

/* active state */
[name="search"] input:focus ~ .bar:before,[name="search"] input:focus ~ .bar:after{
    width: 50%;
}

/* HIGHLIGHTER ================================== */
[name="search"] .highlight{
    position:absolute;
    height: 60%; 
    width: 100px; 
    top: 25%; 
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active state */
[name="search"] input:focus ~ .highlight{
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}
@keyframes inputHighlighter{
    from{
        background: #fff;
    }
    to{
        width: 0;
        background: transparent;
    }
}
.bottom-heading .source-icon{
    height: 16px;
    margin-right: 10px;
}
[role="app-container"] > button.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--icon{
    position: absolute;
    right: 0;
}
[role="app-container"] > div.mdl-menu__container.is-upgraded.is-visible{
    padding-left: 7px;
}
.demo-layout .demo-navigation .mdl-navigation__link[__action="open-dev-tools-button"][state="disabled"]{
  display: none !important;
}